<%= form_for @employee, url: {action: "update"}  do |f|  %>
  <%= f.hidden_field :id %>
  emp_name: <%= f.text_field :emp_name %><br />
  emp_address: <%= f.text_field :emp_address%><br />
  age <%= f.text_field :age%><br />
  working_location <%= f.text_field :working_location%><br />
  salary <%= f.text_field :salary%><br />
 
  <%= f.select :department_id, Department.all.map { |u| [u.dept_name, u.id] }, { :prompt => "Please Select" } %>

  <%= f.submit "save" %>
 
<%end%>