<h1> new record</h1>
<%= form_for Department.new, url: {action: "create"} ,remote :true do |f| %>
<p><label for="department name">dept_name</label>:
<%= f.text_field :dept_name %></p>
<p><label for="dept_description">dept_description</label>:
<%= f.text_field :dept_description %></p>
<p><label for="department"></label>
<%= f.file_field :image %></p>
<%= f.submit "Create" %>
<% end %>
