<h1>Department details</h1>
<% @departments.each do |dept| %>
    <div><p>department id:-<%=  dept.id %></p></div>
    <div><p>department name :-<%=  dept.dept_name %></p></div>
	<div><p>department description:-<%=  dept.dept_description %></p></div>
	<%= image_tag dept.image.thumb %>
    <%= link_to "edit",dept_edit_path(:id =>dept.id) ,:remote => true %><br />
	<%= link_to "delete",delete_dept_path(:id =>dept.id) %><br />
<% end %><br />
<%= link_to "new record",new_dept_path%><br />