<%= image_tag("WEB.png") %>
  <div>
    <div class ="main_page">	
        <p ><center>HI <strong>TOM</strong>,<br>LOREM IPSUM DOLOR SIT AMET,CONSECTETOR ADIPISCING ELIT <br>.MAECENAS A VIVERRA ARCU. SED SAGITTIS EROS AC NIBH FRINGILL <br> A,UT HENDRERIT TORTOR AUCTOR. VESTIBULUM ANTE IPSUM <br>PRIMIS IN FAUCIBUS ORCI LUCTUS ET ULTRICES POSUERE CUBILIA <br>CURAE ; DUIS NEC NISI RISUS . IN TINCIDUNT IPSUM DOLOR,<br></center></p><br><br>
        <div >
      	  <div class="d_fixed">
            <h3>RESERVATION DETAILS</h3><br><br>
              <table class="ex2" border="1">
	              <tr>
	                <% @venue = Venue.find(1)%>
                <td>
	              <%= @venue.date %>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
	                 <h4>Date</h4>
	              </td>
	                <td>
	                  <%= @venue.of_people %>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
	                    <h4>No_of_people</h4>
	                </td>
	                  <td>
	                    <%= @venue.minimum %>
	                      <h4>Minimum</h4>
	                  </td>
                 </tr>
              </table>
                    <h3>LOREM IPSUM DOLOR SIT AMET,CONSECTETOR ADIPISCING ELIT <br>.MAECENAS A VIVERRA ARCU. SED SAGITTIS EROS AC NIBH FRINGILL<br></h3><br><br>
        </div>

               <h2>BILLING ADDRESS</h2>
                   <%= form_tag create_payment_path do %>

                     <label for=" client details"></label>
    	                <%= text_field_tag  :address1,  "", :placeholder=>"Address1" ,:style => "background: mistyrose" %> 
	
	                    <label for=" client details"></label>
	                    <%= text_field_tag  :address2,  "", :placeholder=>"Address2" ,:style => "background: mistyrose"%> <br><br>
	
	                   <div><label for="client details"></label>
                     <%= text_field_tag  :city,  "", :placeholder=>"city",:style => "background: mistyrose" %> <%= text_field_tag  :state,  "", :placeholder=>"state",:style => "background: mistyrose" %><br><br> 
                    
                      <div><label for="client details"></label>
                      <%= text_field_tag  :zipcode,  "", :placeholder=>"Zip code",:style => "background: mistyrose" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                <h2>PAYMENT</h2>
               <div><label for=" payment details"></label>
	              <%= text_field_tag  :creditcard,  "", :placeholder=>"Credit card" ,:style => "background: mistyrose"%> <br><br>
                     
                <div><label for=" payment details"></label>
	             <%= text_field_tag  :first,  "", :placeholder=>"First",:style => "background: mistyrose" %> <%= text_field_tag  :last,  "", :placeholder=>"Last",:style => "background: mistyrose" %><br><br> 
	                           
	               <div><label for=" payment details"></label>
	                <%= text_field_tag  :cv,  "", :placeholder=>"CV" ,:style => "background: mistyrose"%>  <%= text_field_tag  :exp,  "", :placeholder=>"EXP",:style => "background: mistyrose" %><br><br>

	                      <div><label for=" payment details"></label>                          
	                      <%= text_field_tag  :dob,  "", :placeholder=>"DOB",:style => "background: mistyrose" %> <br><br>
	                      <%= submit_tag "BOOK" %>

<% end %> <br> <br><br>

               <h5><strong>BOOKD. GURANTEE</strong><br><br><br><br>
                LOREM IPSUM DOLOR SIT AMET,CONSECTETOR <br>ADIPISCING ELIT.MAECENAS A VIVERRA ARCU. <br>SED SAGITTIS EROS.<br>AC NIBH FRINGILL A,UT HENDRERIT TORTOR <br>AUCTOR. VESTIBULUM ANTE IPSUM PRIMIS IN <br>FAUCIBUS ORCI LUCTUS ET ULTRICES POSUERE <br>CUBILIA CURAE ; DUIS NEC NISI RISUS<br> LOREM IPSUM DOLOR SIT AMET,CONSECTETOR <br>ADIPISCING ELIT.MAECENAS A VIVERRA ARCU. <br>SED SAGITTIS EROS.
                <br>AC NIBH FRINGILL A,UT <br>HENDRERIT TORTOR AUCTOR. VESTIBULUM ANTE <br>IPSUM PRIMIS IN FAUCIBUS ORCI LUCTUS ET <br>ULTRICES POSUERE CUBILIA CURAE ; DUIS NEC<br>HENDRERIT TORTOR AUCTOR. VESTIBULUM ANTE <br>IPSUM PRIMIS IN FAUCIBUS ORCI LUCTUS ET <br> LOREM IPSUM DOLOR SIT AMET, CONSECTETUR <br>ADIPISCING ELIT.MAECENAS A VIVERRA ARCU. <br>SED SAGITTIS EROS <br></h5>
  </div>