<div><p>employee id:-<%= @employee.id %></p></div>
<div><p>employee name :-<%= @employee.emp_name %></p></div>
<div><p>employee address:-<%= @employee.emp_address %></p></div>
<div><p>employee age:-<%= @employee.age %></p></div>
<div><p>employee location:-<%= @employee.working_location %></p><div>
<div><p>employee salary:-<%= @employee.salary%></p></div>
<%= link_to "edit",emp_edit_path(:id => @employee.id) ,:remote => true %><br />
<%= link_to "delete",delete_emp_path(:id => @employee.id) %><br />