<h1> new record</h1>
<%= form_for Employee.new, url: {action: "create"} , :remote => true do |f| %>
<p><label for="employee name">emp_name</label>:
<%= f.text_field :emp_name %></p>
<p><label for="employee address">emp_address</label>:
<%= f.text_field :emp_address%></p>
<p><label for="age">age</label>:
<%= f.text_field :age%></p>
<p><label for="working_location">working_location</label>:
<%= f.text_field :working_location%></p>
<p><label for="salary">salary</label>:
<%= f.text_field :salary%></p>
<%= f.submit "Create" %>
<% end %>
