<h1>Employee details</h1>
<% @employees.each do |emp| %>
	<div id ="employee-form_<%= emp.id %>">
		<div><p>employee id:-<%=  emp.id %></p></div>
		<div><p>employee name :-<%=  emp.emp_name %></p></div>
		<div><p>employee address:-<%=  emp.emp_address %></p></div>
		<div><p>employee age:-<%=  emp.age %></p></div>
		<div><p>employee location:-<%=  emp.working_location %></p></div>
		<div><p>employee salary:-<%=  emp.salary%></p></div>
		<%= link_to "edit",emp_edit_path(:id =>emp.id) , :remote => true %><br />
		<%= link_to "delete",delete_emp_path(:id =>emp.id) %><br />
	</div>
<% end %><br/>
<%= link_to "new record",new_emp_path%><br />
        