h2{
	font-size : 50;
	color: black;
	text-align: left;
	margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom :auto;
}

p
{
	font-size:60;
	color:grey;
	word-spacing: 0.5em;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom :10px;
   

}

h5
{
	font-size:80;
	color:grey;
	text-align:center;
	margin-left: auto;
    margin-right: auto;
    display: inline;
    position: relative;
    float:right;
    margin-top: o px;
    top: -500px;
}

div
{
    
    font-size:100;
	color:black;
	text-align: left;
	margin-top: 20 px;
	word-spacing: 1em;
	text-align:justify;
	height: 100%;
    padding: 0;
    margin: 0;
	
}

h3{
	text-align: center;
	background: mistyrose;
	padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
}

d_fixed
{

	top: 30 px;
	right :5 px;
	color :pink;
	text-align: center;
	border-color: mistyrose;
	border-style:solid;
    margin-left: auto;
    margin-right: auto;
    display :inline;
    position :relative;
    border-width: 5px;
    width: 300px;
    height: 100px;
    background-color: mistyrose;
    box-shadow: 10px 10px 5px #888888;
    }

main_page
{
	
    top: 30 px;
	right :5 px;
	color :pink;
	text-align: center;
	border-color: pink;
	border-style:solid;
	margin-bottom: auto;
	height: 100%;
    padding: 0;
    margin: 0;
	}

table.ex2 
{
    
    border-style: solid;
    border-color: #0000ff;
    border-align:center;
    background: mistyrose;

    }

// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
