<%= form_for @department, url: {action: "update"}  ,:remote => true do |f|  %>
    <%= f.hidden_field :id %>
	dept_name: <%= f.text_field :dept_name  %><br />
	dept_description: <%= f.text_field :dept_description  %><br />
	<%= f.select :company_id, Company.all.map { |u| [u.company_name, u.id] }, { :prompt => "Please Select" } %>
	<%= f.submit "save" %>
<% end %>
