 <div><p>department id:-<%= @department.id %></p></div>
	    <div><p>department name :-<%=  @department.dept_name %></p></div>
		<div><p>department description:-<%=@department.dept_description %></p></div>
		<%= image_tag @department.image.thumb %>
	    <%= link_to "edit",dept_edit_path(:id =>@department.id) ,:remote => true %><br />
		<%= link_to "delete",delete_dept_path(:id =>@department.id) %><br />