 <div><p>company id:-<%= @company.id %></p></div>
	<div><p>company name :-<%= @company.company_name %></p></div>
	<div><p>company description:-<%= @company.company_description %></p></div>
	<div><p>location:-<%= @company.location %></p></div>
	<%= link_to "edit",change_edit_path(:id => @company.id) ,:remote => true %><br />
	<%= link_to "delete",delete_comp_path(:id => @company.id) %><br />