
<%= form_for @company, url: {action: "update"} ,:remote => true do |f|  %>
<%= f.hidden_field :id %>
company_name: <%= f.text_field :company_name %><br />
Location : <%= f.text_field :location%><br />
company_description :<%= f.text_field :company_description %><br />
<%= f.submit "save" %>
<%end%>