<h1> new record</h1>
<%= form_for Company.new, url: {action: "create"} , :remote => true do |f| %>
	<p><label for="company name">company_name</label>:
	<%= f.text_field :company_name %></p>
	<p><label for="location">location</label>:
	<%= f.text_field :location %></p>
	<p><label for="company description">company_description</label>:
	<%= f.text_field :company_description %></p>
	<%= f.submit "Create" %>
<% end %>
