<h1>Company details</h1>
<% @companies.each do |c| %>
    <div><p>company id:-<%=  c.id %></p></div>
	<div><p>company name :-<%=  c.company_name %></p></div>
	<div><p>company description:-<%=  c.company_description %></p></div>
	<div><p>location:-<%=c.location %></p></div>
	<%= link_to "edit",change_edit_path(:id => c.id) %><br />
	<%= link_to "delete",delete_comp_path(:id => c.id) %><br />
<% end %><br />
	<%= link_to "new record",new_comp_path%><br />