 <div >
      	  
	<h2>FETCHED RECORDS ARE:-
	</h2><br><br>
	<% @list_arr.each do |list| %>
		<p><%=  list.heading %></p>
		<p><%=  list.companyname %></p>
		<p><%=  list.experience_required %></p>
		<p><%=  list.location %></p>
		<p><%=  list.job_skills %></p>
		<p><%=  list.job_description %></p>
		<p><%=  list.posted_by %></p>
	<% end %>

  </div>            
	       